<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 定义变量，用于指定日志文件的存储路径 -->
    <property name="LOG_PATH" value="/home/cwy/log/project/webank" />
    <property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />

    <!-- 控制台输出日志的配置 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 设置输出格式 -->
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
        <target>
            System.err
        </target>
    </appender>

    <!-- 文件输出日志的配置 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 被写入的文件名，可以是相对目录，也可以是绝对目录，如果上级目录不存在会自动创建，没有默认值 -->
        <file>${LOG_PATH}/webankdataexportapp.log</file>
        <!-- 指定拆分规则 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 每天滚动日志文件 -->
            <fileNamePattern>${LOG_PATH}/app-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 保留最近的 12 个日志文件 -->
            <maxHistory>12</maxHistory>
        </rollingPolicy>
        <!-- 设置输出格式 -->
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <!-- 日志级别的配置 -->
    <root level="info">
        <!-- 引入日志 -->
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>